header {
}

nav {
}

ul {
  background-color: blueviolet;
  display: flex;
}

.link {
  text-decoration: none;
  border: 2px solid black;
  padding: 10px 30px;
  margin: 10px 0px 10px 20px;
}

.link:hoover {
  background-color: violet;
}
